@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #FFFFFF;
  position: relative;
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: initial;
  overflow-x: unset !important;
}
body.no_scroll {
  overflow: hidden;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
body h1, body h2, body h3, body h4, body h5, body h6, body p, body span {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
body .img-responsive {
  display: block;
  max-width: 100%;
}
body .content {
  width: 88%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
}
body .content:before {
  display: table;
  content: "";
}
body .content:after {
  display: table;
  content: " ";
  clear: both;
}
body a {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
body a:hover {
  text-decoration: none;
}
body a:focus {
  text-decoration: none;
}

::after,
::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.coleccion .hero-coleccion {
  background-image: url("../imagen/bg-hero-colecciones.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.coleccion .hero-coleccion .text-hero {
  padding: 80px 0;
}
.coleccion .hero-coleccion .text-hero h1 {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  line-height: 160%;
}
.coleccion .hero-coleccion .text-hero hr {
  background-color: #FDD630;
  border: 3px solid #FDD630;
  width: 100%;
  max-width: 56px;
  margin: 30px 0;
}
.coleccion .hero-coleccion .text-hero p {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  width: 100%;
  max-width: 433px;
}
.coleccion .list-material {
  padding: 80px 0;
}
.coleccion .list-material .flex-material {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.coleccion .list-material .flex-material .material1, .coleccion .list-material .flex-material .material2 {
  width: 100%;
  max-width: 482px;
  margin: 0 auto;
}
.coleccion .list-material .flex-material .material1 .flex-mat, .coleccion .list-material .flex-material .material2 .flex-mat {
  align-items: center;
  border-bottom: 1px solid #1D1D1D;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.coleccion .list-material .flex-material .material1 .flex-mat a, .coleccion .list-material .flex-material .material2 .flex-mat a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #1D1D1D;
  font-size: 22px;
  font-weight: 400;
  line-height: 140%;
}
.coleccion .list-material .flex-material .material1 .flex-mat a img:hover, .coleccion .list-material .flex-material .material2 .flex-mat a img:hover {
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  padding: 0 10px;
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1100px) and (max-width: 1200px) {
  .coleccion .hero-coleccion .text-hero {
    margin-left: 0;
  }
}
@media (min-width: 980px) and (max-width: 1099px) {
  .coleccion .hero-coleccion {
    background: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0.25)), url("../imagen/bg-hero-colecciones.jpeg");
    background-position: right;
    background-repeat: no-repeat;
  }
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 769px) and (max-width: 979px) {
  .coleccion .hero-coleccion {
    background: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0.25)), url("../imagen/bg-hero-colecciones.jpeg");
    background-position: right;
    background-repeat: no-repeat;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .coleccion .hero-coleccion {
    background: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0.25)), url("../imagen/bg-hero-colecciones.jpeg");
    background-position: right;
    background-repeat: no-repeat;
  }
  .coleccion .hero-coleccion .text-hero {
    padding: 50px 0;
  }
  .coleccion .hero-coleccion .text-hero h1 {
    font-size: 32px;
  }
  .coleccion .hero-coleccion .text-hero hr {
    margin: 20px 0;
  }
  .coleccion .hero-coleccion .text-hero p {
    font-size: 16px;
  }
  .coleccion .list-material {
    padding: 50px 0;
  }
  .coleccion .list-material .flex-material .material1 .flex-mat, .coleccion .list-material .flex-material .material2 .flex-mat {
    padding: 15px 0;
  }
  .coleccion .list-material .flex-material .material1 .flex-mat a, .coleccion .list-material .flex-material .material2 .flex-mat a {
    font-size: 16px;
  }
  .coleccion .list-material .flex-material .material1 .flex-mat a img, .coleccion .list-material .flex-material .material2 .flex-mat a img {
    max-width: 30px;
  }
  .coleccion .list-material .flex-material .material1 .flex-mat a img:hover, .coleccion .list-material .flex-material .material2 .flex-mat a img:hover {
    padding: 0 0;
    margin: 0 10px;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  .coleccion .hero-coleccion {
    background: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0.25)), url("../imagen/bg-hero-colecciones.jpeg");
    background-position: right;
    background-repeat: no-repeat;
  }
  .coleccion .hero-coleccion .text-hero {
    padding: 40px 0;
  }
  .coleccion .hero-coleccion .text-hero h1 {
    font-size: 28px;
    text-align: center;
  }
  .coleccion .hero-coleccion .text-hero hr {
    margin: 30px auto;
  }
  .coleccion .hero-coleccion .text-hero p {
    font-size: 15px;
    text-align: center;
  }
  .coleccion .list-material {
    padding: 50px 30px;
  }
  .coleccion .list-material .flex-material {
    flex-direction: column;
    gap: 0;
  }
  .coleccion .list-material .flex-material .material1 .flex-mat, .coleccion .list-material .flex-material .material2 .flex-mat {
    padding: 10px 0;
  }
  .coleccion .list-material .flex-material .material1 .flex-mat a, .coleccion .list-material .flex-material .material2 .flex-mat a {
    font-size: 15px;
  }
  .coleccion .list-material .flex-material .material1 .flex-mat a img, .coleccion .list-material .flex-material .material2 .flex-mat a img {
    max-width: 30px;
  }
  .coleccion .list-material .flex-material .material1 .flex-mat a img:hover, .coleccion .list-material .flex-material .material2 .flex-mat a img:hover {
    padding: 0 0;
    margin: 0 10px;
  }
}

/*# sourceMappingURL=mainstyle.css.map */
