/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1100px) and (max-width: 1200px)
    .coleccion
        .hero-coleccion 
            .text-hero
                margin-left: 0

@media (min-width: 980px) and (max-width: 1099px)
    .coleccion
        .hero-coleccion 
            .text-hero
                padding: 5000px
                // margin-left: 0
                p
                    width: 100%
                    max-width: 30px

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px)

/* Landscape phone to portrait tablet */
@media (max-width: 767px)

/* Landscape phones and down */
@media (max-width: 480px)